#main-header
  position: absolute
  top: 0
  left: 0
  right: 0
  padding: 10px 100px
  display: flex
  flex-wrap: wrap
  align-items: center
  border-bottom: 1px solid #00000010
  .logo-section
    width: 50px
    margin-right: 50px
    .logo
      width: 100%
  .menu
    flex-grow: 1
    display: flex
    .link
      font-size: .7rem
      letter-spacing: 1px
  .full-name 
    font-size: 1.25em
    color: darken($gray, 10%)
    padding: $gap
    font-family: 'Kaushan Script', cursive !important
    text-transform: capitalize
  .sign-out-btn 
    margin-left: 20px
   
