.error-container {
   padding: $gap;
   text-align: center;

   .error-code {
      font-size: 13em;
      line-height: 1em;
   }
   .error-title {
      color: $error;
   }
   .error-title,
   .error-message {
      text-transform: capitalize;
   }

   .error-message {
      color: darken($gray, 10%);
   }
}