#main-header {
   position: absolute;
   top: 10px;
   right: 10px;

   .full-name {
      font-size: 1.25em;
      color: darken($gray, 10%);
      padding: $gap;
      font-family: 'Kaushan Script', cursive;
      text-transform: capitalize;
   }

   .sign-out-btn {
      margin-left: 20px;
   }
}